<div class="snooze-dialog">
  <div class="row">
    <div class="col-12">
      <h3>Snooze message until the selected date / time</h3>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <div class="form-group">
        <label for="datepicker">Date:</label>
        <input type="date" class="form-control datetimepicker-input" id="datepicker"/>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="timepicker">Date:</label>
        <input type="time" class="form-control datetimepicker-input" id="timepicker"/>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <button class="btn btn-secondary">Cancel</button>
    </div>
    <div class="col-6 text-right">
      <button class="btn btn-success">Snooze</button>
    </div>
  </div>
</div>
