<div class="sidebar">
  <ul class="list-group">
    <ng-container *ngFor="let label of labels | async">
      <li *ngIf="label.labelListVisibility === 'labelShow' && label.type === 'system'"
          (click)="labelClick($event, label)"
          class="list-group-item list-group-item-action">
        {{label.getLabel()}}
      </li>
    </ng-container>
  </ul>

  <ul class="list-group mt-2">
    <ng-container *ngFor="let label of labels | async">
      <li *ngIf="label.labelListVisibility === 'labelShow' && label.type === 'user'" class="list-group-item">
        {{label.getLabel()}}
      </li>
    </ng-container>
  </ul>
</div>
