<div class="main-menu">
  <div>
    <button class="btn btn-dark" title="Compose new mail">
      <fa-icon [icon]="icons.edit"></fa-icon>
    </button>

    <div class="divider"></div>

    <button class="btn btn-dark" title="Reply">
      <fa-icon [icon]="icons.reply"></fa-icon>
    </button>
    <button class="btn btn-dark" title="Reply all">
      <fa-icon [icon]="icons.replyAll"></fa-icon>
    </button>
    <button class="btn btn-dark" title="Forward">
      <fa-icon [icon]="icons.forward"></fa-icon>
    </button>

    <div class="divider"></div>

    <button class="btn btn-dark" title="Mark as favorite">
      <fa-icon [icon]="icons.favorite"></fa-icon>
    </button>
    <button class="btn btn-dark" title="Snooze">
      <fa-icon [icon]="icons.snooze"></fa-icon>
    </button>
    <button (click)="swapReadStatus()" class="btn btn-dark" title="Swap read status">
      <fa-icon [icon]="icons.readstatus"></fa-icon>
    </button>

    <div class="divider"></div>

    <input type="email" />

    <button class="btn btn-dark" title="Search">
      <fa-icon [icon]="icons.search"></fa-icon>
    </button>

    <div class="divider"></div>

    <button (click)="remove()"  class="btn btn-dark" title="Move to trash">
      <fa-icon [icon]="icons.trash"></fa-icon>
    </button>
    <button class="btn btn-dark" title="Spam">
      <fa-icon [icon]="icons.spam"></fa-icon>
    </button>
  </div>
  <div>
   <!-- <button (click)="signIn()" class="btn  btn-dark" title="Logout">
      sign in
    </button>-->
    <button (click)="signOut()" class="btn  btn-dark" title="Logout">
      <fa-icon [icon]="icons.close"></fa-icon>
    </button>
  </div>
</div>
