.application {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-menu {
    height: 48px;
    line-height: 42px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: row;

    div {
      padding: 0 4px 0 4px;
      flex: 1;

      button {
        width: 38px
      }

      &:last-child{
        text-align: right;
      }
    }
  }

  .main-panel {

    display: flex;
    flex-direction: row;
    height: calc(100vh - 48px);

    .sidebar {
      height: calc(100vh - 48px);
      width: 300px;
      padding: 4px;

      .list-group-item {
        cursor: pointer;
      }
    }

    .divider {
      width: 2px;
      background-color: #f5f5f5;
      cursor: ew-resize;
    }

    app-content-panel {
      flex: 1;
      background-color: #fff;
      .content-panel {
        display: block;
        height: calc(100vh - 48px);
      }
    }
  }
}
