$active-color: #f39c12;
$indicate-color: #0056B3;

body {
  overflow: hidden;
  font-size: 13px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 15px;
}

pre {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
  "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 12px;
}

.application {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-menu {
    height: 48px;
    line-height: 42px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: row;

    div {
      padding: 4px 4px 0 4px;

      button {
        width: 38px
      }

      &:first-child {

        flex: 4;

        .divider {
          float: left;
          height: 42px;
          width: 18px;
        }

        button {
          float: left;
          margin-right: 8px;
        }

        input {
          float: left;
          height: 38px;
          margin-right: 8px;
          width: 400px;
          outline: none;
        }
      }

      &:last-child {

        flex: 1;

        button {
          float: right;
        }
      }
    }
  }

  .main-panel {

    display: flex;
    flex-direction: row;
    height: calc(100vh - 48px);

    .sidebar {
      height: calc(100vh - 48px);
      width: 300px;
      padding: 4px;

      .list-group-item {
        cursor: pointer;
      }

      .active {
        color: #000;
        border: 1px solid rgba(0,0,0,.125) ;
        border-right: 3px solid $active-color;
        background-color: #fff;
      }
    }

    .main-divider {
      width: 2px;
      background-color: #f5f5f5;
      cursor: ew-resize;
      height: calc(100vh - 48px);
      border: 1px solid #f5f5f5;
    }

    app-content-panel {
      flex: 1;
      background-color: #fff;

      .content-panel {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: calc(100vh - 48px);

        .messages {
          padding: 4px;
          width: 300px;
          flex: 1;
          height: calc(100vh - 52px);
          overflow: scroll;

          .list-group-item {
            cursor: pointer;
          }

          .active {
            color: #000;
            border: 1px solid rgba(0,0,0,.125) ;
            border-right: 3px solid $active-color;
            background-color: #fff;
          }

          .message-summary {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;

            div {

              &:first-child {
                text-align: right;
                color: #777;
                font-size: 10px;
              }

              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              line-height: 24px;
            }
          }
        }

        .viewer {
          padding: 4px;
          flex: 1;
          height: calc(100vh - 52px);
          overflow: scroll;
          width: calc(100vw - 600px);

          table {
            margin: 12px;

            .sender {
              color: $indicate-color;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
